# We don't want to risk publishing .xml files
*.xml

# Also we don't want to publish any patches as we don't need them here
patches/

# Cargo build directory
target/
Cargo.lock

# Compiled versioned binaries
ThrottleGear-*
